@import "./utils/fonts";
@import "./utils/variable";
@import "./utils/mixins";
* {
    box-sizing: border-box;
}

input,
textarea {
    outline: 0;
}

textarea {
    resize: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    @include reset-list;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@import "./components/burger";
@import "./components/btns";
@import "./components/footer";
@import "./components/header";
@import "./components/tour";
@import "./components/logo";
@import "./components/socials";
@import "./sections/hero";
@import "./sections/how-it-works";
@import "./sections/why-choose-us";
@import "./sections/reviews";
@import "./sections/travel";