$white:#fff;
$second-white:#e8e8e8;
$dark-white:rgb(232, 232, 232);
$black: #232323;
$second-black: rgb(35, 35, 35);
$third-black: #333;
$light-blue: #5474fd;
$dark-blue:#496bfe;
$blue:#00a2ff;
$red: #ff6363;
$light-grey: rgb(153, 153, 153);
$ss: sans-serif;
$josefinsans-bold: 'JosefinSans Bold';
$josefinsans-regular: 'JosefinSans Regular';
$aleo-regular: 'Aleo Regular';
$tablet-bp: 990px;
$mobile-bp: 768px;