.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 220px;
    width: 100%;
    min-height: 60px;
    color: $second-white;
    padding: 5px 5px;
    font-size: 16px;
    font-family: $aleo-regular, $ss;
    line-height: 20px;
    overflow: hidden;
    transition: all 0.2s linear;
    @include breakpoint($mobile-bp) {
        max-width: 160px;
        min-height: 50px;
    }
    &__text {
        position: relative;
        z-index: 1;
    }
    &:after {
        content: "";
        position: absolute;
        left: 12px;
        top: 50%;
        width: 100px;
        height: 100px;
        background-color: $dark-blue;
        transform: skew(32deg) translateY(-50%);
        pointer-events: none;
    }
    &:hover {
        opacity: 0.9;
    }
    &--blue {
        background-color: $light-blue;
    }
    &--search {
        justify-content: flex-start;
        max-width: 140px;
        padding-left: 30px;
        text-align: left;
        background-image: url(./../image/search-white.svg);
        background-repeat: no-repeat;
        background-position: right 13px center;
        background-size: 24px;
        @include breakpoint($mobile-bp) {
            min-height: 44px;
            max-width: 62px;
            font-size: 14px;
            padding-left: 10px;
            background-image: none;
            padding: 0;
            justify-content: center
        }
        &:after {
            content: none;
        }
    }
}